package main

import (
    "go.uber.org/fx"
    "{{ .Module }}/{{ .Path }}{{ if not .InternalMode }}internal/{{ end }}app"
    "{{ .Module }}/{{ .Path }}{{ if not .InternalMode }}internal/{{ end }}api/grpc"
)

func main() {
    app := fx.New(
        append(
            app.DI(),
            grpc.Module,
            )...,
    )

    <-app.Wait()
}

